/*Global Styles*/

html{
  font-family: Helvetica;
  font-size: 16px;
  color: #1A1A1A;
}

div{
  /*border: 1px solid red;*/
}

/*Header*/

.academy{
  color: gray;
}

.colmar,.academy{
  font-size: 18px;
}

.colmar{
  color:black;
  font-weight: bold;
}

.green_stripe{
  display: flex;
  height: 64px;
  width: 15px;
  background-color: aquamarine;
}

.logo{
  height: 32px;
  margin-left: 24px;
  margin-right: 2px;
}

nav{
  display: flex;
  /*border: 1px solid red;*/
  flex-grow: 1;
  justify-content: flex-end;
  height: 64px;
  align-items: center;
  margin-right: 24px;
}

nav ul{
  list-style: none;
}

nav ul li{
  display: inline;
  height: 64px;
  border-right: solid 5px green;
}

.text{
  display: flex;
  align-items: center;
}

.top{
  display: flex;
  background-color: white;
  height: 64px;
  align-items: center;
}

.mobile_top{
  display: none;
}

@media only screen and (max-width: 480px){

  .colmar,.academy{
    display: none;
  }

  .mobile_top{
    display: inline-block;
  }

  .mobile_logo{
    margin-left: 36px;
  }

  .top nav{
    display: none;
  }
}

/*First Block*/

.grey_container{
  background-color: Gainsboro;
  display: flex;
  padding: 32px 0px 32px 32px;
  justify-content: flex-start;

}

.grey_container .image{
  display: flex;
  max-width: 60%;
  width: auto;
  max-height: 35rem;
  height: auto;
  padding-right: 0px;
  flex: 1 1 auto;
}

.grey_container .image img{
  max-width: 95%;
  max-height: 100%;
  width: auto;
  height: auto;
}

.grey_container .text{
  display: flex;
  padding-left: 0px;
  align-items: flex-start;
  flex: 1 1 auto;
}

.grey_container .text .small{
  width: 70%;
  margin-left: 0px;
  flex-direction: column;
  margin-top: 8rem;
}

.grey_container .text .small h1{
  font-size: 2.3rem;
  font-weight: 800;
  line-height: 1.2;
}

.grey_container .text .small h2{
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.2;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

.grey_container .text .small p{
  background-color: #1A1A1A;
  color: white;
  padding: 20px 0px;
  text-align: center;
}

.mobile_banner{
  display: none;
}

.mobile_grey_container{
  display: none;
}

@media only screen and (max-width: 480px){
  .grey_container{
    display: none;
  }

  .mobile_banner{
    display: block;
  }

  .mobile_banner img{
    width: 100%;
  }

  .mobile_grey_container{
    display: flex;
    background-color: Gainsboro;
    flex-direction: column;
  }

  .mobile_grey_container h1{
    font-size: 1.7rem;
    font-weight: 800;
    line-height: 1.2;
    margin-top: 32px;
    padding-left: 16px;
  }

  .mobile_grey_container h2{
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.4;
    margin-top: 32px;
    padding-left: 16px;
  }

  .mobile_grey_container h3{
    margin: 24px 16px 32px 16px;
    background-color: #BEBEBE;
    padding: 8px 0px;
    text-align: center;
    color: white;
  }
}

/*White Container*/

.white_container{
  display: flex;
  background-color: white;
}

.white_container .left{
  display: flex;
  max-width: 60%;
  width: auto;
  max-height: 100%;
  height: auto;
  flex: 1 1 auto;
  margin: 32px 0px 0px 24px;
  flex-direction: column;
}

.white_container .left img{
  max-width: 98%;
  max-height: 25rem;
  width: auto;
  height: auto;
}

.white_container .left h1{
  font-size: 2.0rem;
  font-weight: 800;
  line-height: 1.2;
  margin-top: 32px;
}

.white_container .left p{
  margin-top: 24px;
  line-height: 1.4;
  font-size: 16px;
  margin-bottom: 24px;
}

.white_container .left span{
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 12px;
}

.white_container .right{
  display: flex;
  max-width: 40%;
  flex: 1 0 auto;
  align-items: flex-start;
  flex-direction: column;
  background-color: Gainsboro;
  height: auto;
}

.white_container .right .box{
  display: flex;
  align-items: center;
  background-color: white;
  margin-bottom: 3px;
}

.white_container .right .box_grey{
  display: flex;
  align-items: center;
  background-color: Gainsboro;
  margin-bottom: 3px;
}

.white_container .right .box .image{
  max-width: 35%;
  width: auto;
  margin: 16px;
}

.white_container .right .box_grey .image{
  max-width: 35%;
  width: auto;
  margin: 16px;
}

.white_container .right .box .image img{
  max-width: 100%;
  width: auto;
  height: auto;
}

.white_container .right .box_grey .image img{
  max-width: 100%;
  width: auto;
  height: auto;
}

.white_container .right .box .text{
  max-width: 65%;
  width: auto;
  height: auto;
  max-height: 100%;
  margin: 0px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.white_container .right .box_grey .text{
  max-width: 65%;
  width: auto;
  height: auto;
  max-height: 100%;
  margin: 0px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.white_container .right .box .text h1{
  font-size: 1.3rem;
  font-weight: bold;
  text-align: left;
  margin-bottom: 8px;
}

.white_container .right .box .text h2{
  font-size: 1rem;
  font-weight: normal;
  margin-bottom: 8px;
}

.white_container .right .box .text a{
  color: blue;
}

.white_container .right .box_grey .text h1{
  font-size: 1.3rem;
  font-weight: bold;
  text-align: left;
  margin-bottom: 8px;
}

.white_container .right .box_grey .text h2{
  font-size: 1rem;
  font-weight: normal;
  margin-bottom: 8px;
}

.white_container .right .box_grey .text a{
  color: blue;
}

.white_stripe{
  width:100%;
  max-height: 100%;
  min-height: 4rem;
  background-color: white;
}

.mobile_white_container{
  display: none;
}

/*Mobile Second Block*/
@media only screen and (max-width: 480px){
  .white_container{
    display:none;
  }

  .mobile_white_container{
    display: block;
    background-color: white;
    margin: 16px;
  }
  .mobile_white_container img{
    max-width: 100%;
    max-height: 100%;
  }

  .mobile_white_container h1{
    margin: 20px 0px 0px 16px;
    font-size: 1.2rem;
    font-weight: bold;
  }

  .mobile_white_container h2{
    margin: 16px;
    font-size: 1.0rem;
  }

  .mobile_white_container h3{
    margin: 0px 0px 64px 16px;
    font-size: 0.8rem;
    color: blue;
  }
}

/*Third Block*/

.learning{
  background-color: Gainsboro;
  display: flex;
  flex: 1 1 auto;
  justify-content: center;
  flex-direction: column;
}

.learning h1{
  font-size: 2rem;
  font-weight: 800;
  margin-top: 32px;
  margin-bottom: 32px;
  text-align: center;
}

.learning .box{
  display: flex;
  margin: 0px 72px 32px 72px;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-between;
}

.learning .box .mini{
  background-color: white;
  display: block;
  max-width: 350px;
}

.learning .box .mini img{
  height: auto;
  max-width: 350px;
}

.learning .box .mini h1{
  margin: 16px 0px 8px 16px;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: left;
}

.learning .box .mini h2{
  margin: 0px 0px 8px 16px;
  font-size: 1rem;
}

.learning .box .mini h3{
  margin: 0px 0px 24px 16px;
  font-size: 0.8rem;
  line-height: 1.6;
}

/*Mobile Third Block*/
.mobile_learning{
  display: none;
}

@media only screen and (max-width: 480px){
  .learning{
    display: none;
  }

  .mobile_learning{
    margin: 32px 8px 24px 8px;
    display: block;
  }

  .mobile_learning h1{
    font-size: 1.5rem;
    font-weight: 800;
    margin-top: 32px;
    margin-bottom: 16px;
    text-align: center;
  }

  .mobile_learning h2{
    font-size: 1.2rem;
    font-weight: 600;
    padding-top: 16px;
    padding-bottom: 24px;
    padding-left: 16px;
    text-align: left;
    margin: 0px 8px 8px 8px;
    background-color: Gainsboro;
    max-width: 100%;
  }
}

/*Fourth Block*/

.thesis{
  display: flex;
  margin: 32px 24px;
  flex-direction: column;
}

.thesis h1{
  font-size: 2rem;
  font-weight: 800;
  margin-bottom: 32px;
  text-align: center;
}

.thesis .main{
  display: flex
}

.thesis .left{
  display: block;
  max-width: 60%;
  padding-right: 24px;
}

.thesis .left .film{
  max-width: 100%;
}

.thesis .left .film video{
  max-width: 100%;
  height: auto;
}

.thesis .left h2{
  font-size: 1.3rem;
  font-weight: bold;
  margin-top: 24px;
  margin-bottom: 8px;
}

.thesis .left p{
  line-height: 1.4;
}

.thesis .right{
  display: flex;
  max-width: 40%;
  flex: 1 1 auto;
  flex-direction: column;
}

.thesis .right .mini{
  background-color: Gainsboro;
  display: flex;
  align-items: center
}

.thesis .right .mini img{
  margin: 16px;
  max-width: 35%;
  max-height: auto;
}

.thesis .right .mini h2{
    font-size: 1.3rem;
    font-weight: bold;
    margin-top: 24px;
    margin-bottom: 8px;
}

.thesis .right .mini p{
  line-height: 1.4;
}

.thesis .right .mini-w{
  background-color: white;
  display: flex;
  align-items: center
}

.thesis .right .mini-w img{
  margin: 16px;
  max-width: 35%;
  max-height: 200px;
}

.thesis .right .mini-w h2{
    font-size: 1.3rem;
    font-weight: bold;
    margin-top: 24px;
    margin-bottom: 8px;
}

.thesis .right .mini-w p{
  line-height: 1.4;
}

/*Fourth Block Mobile*/
.mobile-thesis{
  display: none;
}

@media only screen and (max-width: 480px){
  .thesis{
    display: none;
  }

  .mobile-thesis{
    display: block;
  }

  .mobile-thesis h1{
    font-size: 1.5rem;
    font-weight: 800;
    margin-top: 32px;
    margin-bottom: 16px;
    text-align: center;
  }

  .mobile-thesis video{
    height: auto;
    width: 100%;
  }
}

/*Footer*/

.copyright{
  display: flex;
  align-items: center;
  font-size: 0.8rem;
  flex: 1 1 auto;
  margin-right: 24px;
}

.copyright p{

  padding-top: 16px;
  padding-left: 24px;

}

.copyright ul{
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
}

.copyright li{
  padding-left: 8px;
}

/*Mobile Footer*/

@media only screen and (max-width: 480px){
  .copyright ul{
    display: none;
  }
}
